= render partial: 'weet_template'
= render partial: 'sign_in'


%div{class: 'feed', id: 'feed'}
%div{class: 'border', id: 'border'} Fetching more content...


= stylesheet_link_tag 'weeet'

:javascript
  let scripts_loaded = false
  $(document).on('turbolinks:load', function() {
    if (!scripts_loaded) {
      layout.init()
      weet_cloner.init()
      scripts_loaded = true
    }
  })
  