%div{id: 'weet-template', class: 'weet-container start-hidden', 'data-id': -1}
  %div{class: 'weet-header'}
    %span{class: 'weet-author'} 
      %a{href: '#'} Author
    %span{class: 'blockchain-persisted glyphicon glyphicon-link pull-right start-hidden', 'data-bcp-toggle': 'tooltipe', title: 'Blockchain-persisted'} 
    %span{class: 'weet-date pull-right'} Date
  %div{class: 'weet-body'}
    Hi this is post body
  %div{class: 'weet-footer'}
    %div{class: 'col-xs-1 vote voteup disabled', 'data-vote-toggle': 'tooltip', title: 'Fetching vote info...'}
      %span{class: 'glyphicon glyphicon-arrow-up'}
      %span{class: 'voteup-count'} 0
    %div{class: 'col-xs-1 vote votedown disabled', 'data-vote-toggle': 'tooltip', title: 'Fetching vote info...'}
      %span{class: 'glyphicon glyphicon-arrow-down'}
      %span{class: 'votedown-count'} 0
    %div{class: 'col-xs-8 slider'}
    %div{class: 'col-xs-2 timer-container start-hidden', 'data-vote-remainder-toggle': 'tooltip', title: 'Voting time remaining'}
      %div{class: 'timer-bar'}
      %span{class: 'timer-text'}
    %div{class: 'col-xs-2 approve-status weet-approved start-hidden'}
      %span{class: 'glyphicon glyphicon-ok'} 
      Approved
    %div{class: 'col-xs-2 approve-status weet-rejected start-hidden'}
      %span{class: 'glyphicon glyphicon-remove'} 
      Rejected
    %div{class: 'row'}

%div{class: 'feed', id: 'feed'}
%div{class: 'border'}


= stylesheet_link_tag 'weeet'

:javascript
  let scripts_loaded = false
  $(document).on('turbolinks:load', function() {
    if (!scripts_loaded) {
      layout.init()
      weet_cloner.init()
      scripts_loaded = true
    }
  })
  