$vote-up: #5CB85C;
$vote-down: #BE4343;
$gray-dark: #888;
$gray-light: #ccc;
$off-white: #eee;


.button-refresh {
  margin-top: 16px;
}

.table {
  .voteup {
    background-color: $vote-up;
    color: white;
    text-align: center;
  }
  .votedown {
    background-color: $vote-down;
    color: white;
    text-align: center;
  }
  .evalpending {
    text-align: center;
    background-color: $off-white;
  }
}